<!DOCTYPE html>
{% extends 'empdetails/base.html' %}
{% block body_block %}


<table border='2' align="center">
    <thead>
    <th>Employ No</th>
    <th>Employ Name </th>
    <th>Employ Salery </th>
    <th>Employ Address </th>
    <th>Actions</th>
    </thead>



    {% for item in emp %}
    <tr>
    <td>{{item.eno }}</td>
    <td> {{item.ename }}</td>
    <td>{{item.esal }}</td>
        <td>{{item.eaddr }}</td>
     <td><a href="/update/{{item.id}}"> update</a> <a href="/delete/{{item.id}}"> delete</a></td>
    </tr>

    {% endfor %}

</table>

<br><br>
<div align="center">

    <a href="/insert" class="btn btn-primary btn-lg">DO YOU WANT TO INSERT NEW EMPLOYEE ? </a>
</div>
    {% endblock body_block %}





